---
author: Ron Sweeney and Dan McCracken
title: Gitops with the InterSystems Kubernetes Operator
description: Git 'Er Done
design: black 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">Improve me on GitHub</a>
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
# Markdown Slides
by Alexander Naumann
<img src="assets/gitops_iko_sweeney_mccracken.jpeg"/>
<br>

[Lets Go](/gitops_iko_slides/gitops_iko)
 

<br>
<br>


            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
